body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #DDDDDD;
    height: 92px;
    width: 100%;
}

.content {
    margin: 123px 0px 108px;
    background-color: #CCCCCC;
}

.item-menu {
    background-color: #BBBBBB;
}

.item-category {
    background-color: #AAAAAA;
    height: 41px;
}

.item-selection {
    background-color: #999999;
    width: 172px;
}

.item {
    width: 172px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    height: 92px;
    width: 100%;
}

.order-button {
    background-color: #FFFFFF;
    width: 364px;
    height: 61px;
}

// Definições especiais

.header-title, .item-category {
    font-family: 'Righteous';
}