body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

ion-icon {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #FFFFFFE5;
}

.checkout {
    background-color: #50D074;
    color: #FFFFFF;
    width: 377px;
    height: 353px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.checkout-title {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 78px;
}

.checkout-info {
    display: flex;
    margin-top: -30px;
    width: 326px;
    height: 172px;
    justify-content: space-between;
    font-weight: 400;
}

.item-names {
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-prices {
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.total-name, .total-price {
    font-weight: 700;
    letter-spacing: 1.2px;
}

.checkout-confirm {
    height: 52px;
    width: 329px;
    background-color: #FFFFFF;
    color: #50D074;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 54px;
}

.checkout-cancel {
    position: absolute;
    bottom: 2px;
    height: 52px;
    display: flex;
    align-items: center;
    font-weight: 20px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 21px;
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
    padding-top: 12px;
    font-size: 44px;
    color: #FFFFFF;
}

.header-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.content {
    margin: 123px 0px 82px;
    background-color: #EEEEEE;
}

.item-menu {
    margin-bottom: 27px;
    padding-right: 19px;
    width: calc(100% -19px);
}

.item-category {
    padding-left: 19px;
    height: 41px;
    font-size: 26px;
}

.item-selection {
    display: flex;
    overflow-x: scroll;
    padding-right: 5px;
}

.item {
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 9px;
    position: relative;
    filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.25));
}

.selected1, .selected2, .selected3 {
    box-shadow: inset 0 0 0 5px #32B72F;
    position: relative;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
    margin-bottom: 16px;
    margin-top: 4px;
    transition: 300ms;
}

.selected1 ion-icon, .selected2 ion-icon, .selected3 ion-icon {
    display: initial;
    position: absolute;
    color: #32B72F;
    bottom: 14px;
    right: 14px;
}

.item-container {
    padding: 0px 14px;
    width: 144px;
    position: relative;
}

.item-picture {
    padding-top: 18px;
    width: 144px;
}

.item-picture img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 9px;
}

.item-title {
    padding-top: 8px;
    font-weight: 500;
}

.item-subtitle {
    padding-top: 6px;
    font-size: 15px;
    font-weight: 300;
    height: 40px;
    color: #A6A6A6;
    line-height: 17px;
}

.item-price {
    padding: 4px 0 13px;
    font-weight: 400;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 92px;
    width: 100%;
    z-index: 2 ;
}

.order-button {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.25));
}

.order-button-text {
    font-size: 20px;
    color: #FFFFFF;
}


.header-title, .item-category {
    font-family: 'Righteous';
}

.enabled-order {
    background-color: #32B72F;
    font-weight: 700;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

@media (max-width:450px) {
    ::-webkit-scrollbar {
        display: none;
    }
}